/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}


.hlavicka {
	background-color: #3498db;
	color: white;
}

a {
	display: block;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #3498db;
}

/* ---------------------------------------------------- */

ul {

    list-style-type: none;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: flex-end;
	font-size: 14px;
}

.hlavicka {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo {
	text-transform: uppercase;
	padding-left: 5vw;
	font-weight: 500;
	font-size: 30px;
}
