/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}


.hlavicka {
	background-color: #3498db;
	color: white;
}

a {
	display: block;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #3498db;
}

/* ---------------------------------------------------- */

ul {
    list-style-type: none;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: stretch;
	font-size: 14px;
}

.hlavicka {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 52px;
}

.logo {
	text-transform: uppercase;
	padding: 10px 20px 10px 20px;
	font-weight: 500;
	font-size: 30px;
	flex-shrink: 2;
}

a {
	height: 52px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*Položky v navigaci jsou vedle sebe, mají margin 1px, žadný padding
Odkazy v seznamu zabírají celou výšku rodiče a jsou vertikálně vycentrované*/